<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C2E86D81CD25C1B00B03BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2E86EC1CD25C1B00B03BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2E86F71CD25C1B00B03BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
